<!-- footer -->
<div class="footer">
  <div class="row">
    <div class="container-fluid">
      <br /><br /><br />
      <h3>Chirag Aggarwal</h3>
      <h4>Rails &bull; Agile Development &bull; Web Ops &bull; Illustration</h4>
    </div>

    <div class="row">
      <div class="pattern">
        <ul class="footer-social">
          <li><a href="https://www.github.com/chi6rag"><i class="icon-github icon-2x"></i></a></li>
          <li><a href="https://plus.google.com/+ChiragAggarwal24"><i class="icon-google-plus icon-2x"></i></a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon-rss icon-2x"></i></a></li>
          <li><a href="https://twitter.com/chi6rag"><i class="icon-twitter icon-2x"></i></a></li>
        </ul>
      </div>          
    </div>
  </div>
</div><!-- END footer div -->
<!-- END footer -->