<!-- navbar -->
<div class="row">
  <nav class="navbar navbar-default" id="nav-trans">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="http://res.cloudinary.com/chi6rag/image/upload/v1420954987/logo-trans_loxqdq.png" class="logo-trans img-responsive"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        {% assign sorted_pages = site.pages | sort:"title" %}
          {% for page in sorted_pages %}
            {% if page.title %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="https://www.github.com/chi6rag"><i class="icon-github" style="border: 2px solid black; border-radius: 100%; padding: 10px;"></i></a></li>
          <li><a href="https://plus.google.com/+ChiragAggarwal24"><i class="icon-google-plus" style="border: 2px solid black; border-radius: 100%; padding: 10px;"></i></a></li>
          <li><a href="https://twitter.com/chi6rag"><i class="icon-twitter" style="border: 2px solid black; border-radius: 100%; padding: 10px;"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->  
</div><!-- /.row -->
<!-- navbar ends -->