<!DOCTYPE html> 
<html lang="en" class="no-js"> 
  <head> 
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="http://faviconist.com/icons/81ae97e09407fc8b18834c31dded812f/favicon.ico" />
    <title>Hi! I'm Chirag | A Software Developer and an Aspiring Entrepreneur</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src="{{ "/javascripts/jquery.particleground.min.js" | prepend: site.baseurl }}"></script>

    <!-- jQuery CDN -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type='text/javascript' src="{{ "/javascripts/jquery.particleground.min.js" | prepend: site.baseurl }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58558781-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
  <div id="particles">
    <div class="intro">
      <h1 class="custom-font">Hi!&nbsp;I'm Chirag</h1><h1>A <b>Software Developer</b> and an <i>Aspiring Entrepreneur</i></h1>
      <a href="https://www.github.com/chi6rag" class="btn btn-custom" target="blank">GitHub</a>
      <a href="{{ "/portfolio" | prepend: site.baseurl }}" class="btn btn-custom" target="_blank">Portfolio</a>
      <a href="/contact" class="btn btn-custom" target="_blank">Contact</a>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#particles').particleground({
        dotColor: 'gray',
        lineColor: '#383838'
      });
      $('.intro').css({
        'margin-top': -($('.intro').height() / 2)
      });
    });
  </script>
  </body> 
</html>