<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container-fluid" id="base">
      {% include header.html %}
    </div>  <!-- END container-fluid -->
    <div class="container">
      <h1 class="page-title">{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include footer.html %}
  <script type="text/javascript">
    $(document).ready(function(){
      var pageTitle = $('.page-title');
      if(pageTitle.text() == "Blog"){
        pageTitle.text("");
      }
    });
  </script>
  </body>
</html>
